* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'IBM Plex Sans Bold';
  src: url(../font/IBM_Plex_Sans/IBMPlexSans-Bold.ttf); }

@font-face {
  font-family: 'IBM Plex Sans Reg';
  src: url(../font/IBM_Plex_Sans/IBMPlexSans-Regular.ttf); }

h1 {
  font-size: 88px;
  font-family: "IBM Plex Sans Bold";
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -1px; }

h2 {
  font-size: 40px;
  font-family: "IBM Plex Sans Bold";
  font-weight: 700;
  line-height: 52px; }

p.footer {
  font-size: 16px;
  font-family: 'IBM Plex Sans Reg';
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px; }

body {
  font-size: 20px;
  font-family: 'IBM Plex Sans Reg';
  line-height: 34px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FCFAF9;
  position: relative;
  overflow-x: hidden;
  background-image: url(/starter-code/assets/bg-main-desktop.png);
  background-position: 60% 20%; }

button {
  border: none;
  outline: none;
  cursor: pointer; }

button.ios-download {
  width: 333px;
  height: 61px;
  border-radius: 12px;
  background: #191826; }

button.ios-download:hover {
  background: #66E2DC; }

button.android-download {
  width: 333px;
  height: 61px;
  border-radius: 12px;
  background: #FCFAF9; }

button.android-download:hover {
  background: #FFB964; }

img#bg-pattern-1 {
  position: absolute;
  top: -5%;
  right: 0%; }

img#bg-main-desktop {
  top: -26%;
  left: -20%;
  z-index: -1;
  position: absolute; }

section#main-container {
  margin-top: 62px;
  min-height: 1400px;
  width: 1110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  section#main-container #We-make-your-music {
    height: 478px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    section#main-container #We-make-your-music img#equalizer-logo {
      width: 146.093px;
      height: 32px; }
    section#main-container #We-make-your-music #container-music {
      width: 78%; }
      section#main-container #We-make-your-music #container-music h1 {
        margin-bottom: 40px;
        color: #191826; }
      section#main-container #We-make-your-music #container-music p {
        color: #191826; }
  section#main-container #container-eq {
    min-height: 600px;
    border-radius: 12px;
    background: #191826;
    position: relative;
    z-index: 1; }
    section#main-container #container-eq img#illustration-app {
      position: absolute;
      width: 312px;
      height: 642px;
      top: -30%;
      left: 10%; }
    section#main-container #container-eq img#bg-pattern-2 {
      position: absolute;
      width: 312px;
      height: 468px;
      top: 0%;
      right: 40.8%;
      z-index: -1; }
    section#main-container #container-eq #card-eq {
      width: 446px;
      height: 625px;
      border-radius: 12px;
      background: #FA7453;
      position: absolute;
      top: 20%;
      left: 52%;
      padding: 55px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      section#main-container #container-eq #card-eq #description-eq h2 {
        color: #FCFAF9; }
      section#main-container #container-eq #card-eq #description-eq p {
        color: #FCFAF9;
        margin-top: 22px; }
      section#main-container #container-eq #card-eq #pay-for-month {
        display: flex; }
        section#main-container #container-eq #card-eq #pay-for-month h1 {
          color: #FCFAF9;
          font-size: 65px;
          font-weight: 700;
          line-height: 52px; }
        section#main-container #container-eq #card-eq #pay-for-month p {
          color: #FCFAF9;
          margin-left: 15px; }
      section#main-container #container-eq #card-eq #section-buttons .ios-download {
        color: #FCFAF9;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.18px;
        font-family: 'IBM Plex Sans Reg';
        display: flex;
        justify-content: center;
        align-items: center; }
        section#main-container #container-eq #card-eq #section-buttons .ios-download img {
          margin-right: 8px; }
      section#main-container #container-eq #card-eq #section-buttons .android-download {
        margin-top: 15px;
        color: #191826;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.18px;
        font-family: 'IBM Plex Sans Reg';
        display: flex;
        justify-content: center;
        align-items: center; }
        section#main-container #container-eq #card-eq #section-buttons .android-download img {
          margin-right: 8px; }

footer {
  min-height: 260px;
  margin-top: 110px;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center; }
