* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Colors
$color-primary: #66E2DC;
$color-secondary: #FA7453;
$color-tertiary: #FFB964;
$color-quaternary: #FCFAF9;
$color-quinary: #191826;

//Typography

@font-face {
    font-family: 'IBM Plex Sans Bold';
    src: url(../font/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
}

@font-face {
    font-family: 'IBM Plex Sans Reg';
    src: url(../font/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}

h1 {
    font-size: 88px;
    font-family: "IBM Plex Sans Bold";
    font-weight: 700;
    line-height: 88px;
    letter-spacing: -1px;
}

h2 {
    font-size: 40px;
    font-family: "IBM Plex Sans Bold";
    font-weight: 700;
    line-height: 52px;
}

p.footer {
    font-size: 16px;
    font-family: 'IBM Plex Sans Reg';
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
}

body {
    font-size: 20px;
    font-family: 'IBM Plex Sans Reg';
    line-height: 34px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-quaternary;
    position: relative;
    overflow-x: hidden;
    background-image: url(/starter-code/assets/bg-main-desktop.png);
    background-position: 60% 20%;
}

//Buttons
button {
    border: none;
    outline: none;
    cursor: pointer;
}

button.ios-download {
    width: 333px;
    height: 61px;
    border-radius: 12px;
    background: $color-quinary;
}

button.ios-download:hover {
    background: $color-primary;
}

button.android-download {
    width: 333px;
    height: 61px;
    border-radius: 12px;
    background: $color-quaternary;
}

button.android-download:hover {
    background: $color-tertiary
}

//Desktop
img#bg-pattern-1 {
    position: absolute;
    top: -5%;
    right: 0%;
}

img#bg-main-desktop {
    top: -26%;
    left: -20%;
    z-index: -1;
    position: absolute;
}


section#main-container {
    margin-top: 62px;
    min-height: 1400px;
    width: 1110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #We-make-your-music {
        height: 478px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img#equalizer-logo {
            width: 146.093px;
            height: 32px;
        }

        #container-music {
            width: 78%;

            h1 {
                margin-bottom: 40px;
                color: $color-quinary;
            }

            p {
                color: $color-quinary;
            }
        }
    }

    #container-eq {
        min-height: 600px;
        border-radius: 12px;
        background: $color-quinary;
        position: relative;
        z-index: 1;

        img#illustration-app {
            position: absolute;
            width: 312px;
            height: 642px;
            top: -30%;
            left: 10%;
        }

        img#bg-pattern-2 {
            position: absolute;
            width: 312px;
            height: 468px;
            top: 0%;
            right: 40.8%;
            z-index: -1;
        }

        #card-eq {
            width: 446px;
            height: 625px;
            border-radius: 12px;
            background: $color-secondary;
            position: absolute;
            top: 20%;
            left: 52%;
            padding: 55px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            #description-eq {
                h2 {
                    color: $color-quaternary;
                }

                p {
                    color: $color-quaternary;
                    margin-top: 22px;
                }
            }

            #pay-for-month {
                display: flex;

                h1 {
                    color: #FCFAF9;
                    font-size: 65px;
                    font-weight: 700;
                    line-height: 52px;
                }

                p {
                    color: #FCFAF9;
                    margin-left: 15px;
                }


            }

            #section-buttons {
                .ios-download {
                    color: $color-quaternary;
                    text-align: center;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: -0.18px;
                    font-family: 'IBM Plex Sans Reg';
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        margin-right: 8px;
                    }
                }

                .android-download {
                    margin-top: 15px;
                    color: #191826;
                    text-align: center;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: -0.18px;
                    font-family: 'IBM Plex Sans Reg';
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}


footer {
    min-height: 260px;
    margin-top: 110px;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #footer-left {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 650px;

        p {
            width: 366px;
            color: #191826;
            font-size: 16px;
            font-family: 'IBM Plex Sans Reg';
            font-style: normal;
            font-weight: 400;
            line-height: 26px;

            span {
                font-weight: 700;
            }
        }

    }

    #footer-right {
        width: 100px;
        height: 20px;
        justify-content: space-between;
        align-items: center;
        display: flex;

        svg {
            cursor: pointer;
            fill: #191826;
        }

        svg:hover {
            fill: #FA7453;
        }
    }
}

//Tablet
@media screen and (max-width: 768px) and (min-width: 376px) {
    body {
        background-image: url(/starter-code/assets/bg-pattern-1.svg), url(/starter-code/assets/bg-main-tablet.png);
        background-repeat: no-repeat;
        background-position: 110% -12%, 70% 85%;
    }

    img#bg-pattern-1 {
        position: absolute;
        top: -5%;
        right: -6%;
        display: none;
    }

    section#main-container {
        margin-top: 62px;
        min-height: 1310px;
        width: 100%;
        padding: 0 35px;

        #We-make-your-music {
            height: 460px;

            #container-music {
                width: 73%;

                h1 {
                    margin-bottom: 0px;
                    color: $color-quinary;
                    font-size: 64px;
                    line-height: 64px;
                    letter-spacing: -0.727px;
                }

                p {
                    margin-top: 28px;
                    color: $color-quinary;
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }

        #container-eq {
            min-height: 600px;
            border-radius: 12px;
            background: $color-quinary;
            position: relative;
            z-index: 1;

            img#illustration-app {
                width: 270.206px;
                height: 556px;
                top: -20%;
                left: 10%;
            }

            img#bg-pattern-2 {
                width: 280px;
                height: 420px;
                top: -3%;
                right: 26.8%;
            }

            #card-eq {
                width: 399px;
                height: 546px;
                top: 28%;
                left: 35%;
                padding: 48px;

                #description-eq {
                    h2 {
                        color: $color-quaternary;
                        line-height: 40px;
                        font-size: 32px;
                    }

                    p {
                        color: $color-quaternary;
                        margin-top: 22px;
                        line-height: 28px;
                        font-size: 18px;
                    }
                }

                #pay-for-month {
                    display: flex;

                    h1 {
                        color: #FCFAF9;
                        font-size: 65px;
                        font-weight: 700;
                        line-height: 52px;
                    }

                    p {
                        color: #FCFAF9;
                        margin-left: 15px;
                    }


                }

                #section-buttons {
                    .ios-download {
                        color: $color-quaternary;
                        text-align: center;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 32px;
                        letter-spacing: -0.18px;
                        font-family: 'IBM Plex Sans Reg';
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;

                        img {
                            margin-right: 8px;
                        }
                    }

                    .android-download {
                        margin-top: 15px;
                        color: #191826;
                        text-align: center;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 32px;
                        letter-spacing: -0.18px;
                        font-family: 'IBM Plex Sans Reg';
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;

                        img {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }

    footer {
        min-height: 313px;
        margin-top: 150px;
        width: 100%;
        padding: 0 35px;

        #footer-left {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            width: auto;

            p {
                margin-top: 32px;
                width: 366px;
                color: #191826;
                font-size: 16px;
                font-family: 'IBM Plex Sans Reg';
                font-style: normal;
                font-weight: 400;
                line-height: 26px;

                span {
                    font-weight: 700;
                }
            }

        }

        #footer-right {
            width: 100px;
            height: 20px;
            justify-content: space-between;
            align-items: center;
            display: flex;

            svg {
                cursor: pointer;
                fill: #191826;
            }

            svg:hover {
                fill: #FA7453;
            }
        }
    }
}

//Mobile
@media screen and (max-width: 375px) {
    body {
        background-image: url(/starter-code/assets/bg-main-mobile.png);
        background-repeat: no-repeat;
        background-position: 0% -220%;
    }

    img#bg-pattern-1 {
        display: none;
    }

    section#main-container {
        margin-top: 40px;
        min-height: auto;
        width: 100%;


        #We-make-your-music {
            height: 460px;
            padding: 0 24px;

            #container-music {
                width: 100%;

                h1 {
                    color: #191826;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 48px;
                    letter-spacing: -0.455px;
                }

                p {
                    color: #191826;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                }
            }
        }

        #container-eq {
            margin-top: 166px;
            min-height: 926px;
            border-radius: 12px;
            background: $color-quinary;
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            img#illustration-app {
                width: 208.972px;
                height: 430px;
                top: -10%;
                left: 50%;
                transform: translate(-50%, 0%);
                position: relative;
            }

            img#bg-pattern-2 {
                width: 280px;
                height: 420px;
                top: 0%;
                right: 10.8%;
            }

            #card-eq {
                position: relative;
                width: 100%;
                height: 546px;
                top: 0%;
                left: 0%;
                padding: 48px;

                #description-eq {
                    h2 {
                        color: #FCFAF9;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 40px;
                    }

                    p {
                        color: #FCFAF9;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px;
                    }
                }

                #pay-for-month {
                    display: flex;

                    h1 {
                        color: #FCFAF9;
                        font-size: 65px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 52px;
                    }

                    p {
                        color: #FCFAF9;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;
                        letter-spacing: -0.2px;
                    }


                }

                #section-buttons {
                    .ios-download {
                        color: $color-quaternary;
                        text-align: center;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 32px;
                        letter-spacing: -0.18px;
                        font-family: 'IBM Plex Sans Reg';
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;

                        img {
                            margin-right: 8px;
                        }
                    }

                    .android-download {
                        margin-top: 15px;
                        color: #191826;
                        text-align: center;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 32px;
                        letter-spacing: -0.18px;
                        font-family: 'IBM Plex Sans Reg';
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;

                        img {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }

    footer {
        min-height: 400px;
        width: 100%;
        padding: 65px 35px;
        flex-direction: column;
        align-items: baseline;
        justify-content: flex-start;
        margin-top: 0px;

        #footer-left {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;

            p {
                margin-top: 32px;
                width: 100%;
                color: #191826;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;

                span {
                    font-weight: 700;
                }
            }

        }

        #footer-right {
            margin-top: 80px;
            width: 100px;
            height: 20px;
            justify-content: space-between;
            align-items: center;
            display: flex;

            svg {
                cursor: pointer;
                fill: #191826;
            }

            svg:hover {
                fill: #FA7453;
            }
        }
    }
}